<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanle.mapper.DishMapper">

    <resultMap id="BaseResultMap" type="com.fanle.entity.Dish">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="restaurantId" column="restaurant_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="img" column="img" jdbcType="LONGVARCHAR"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
            <result property="available" column="available" jdbcType="TINYINT"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,restaurant_id,name,
        description,category,img,price,available
    </sql>
    <select id="selectListByCondition" resultType="com.fanle.entity.Dish" parameterType="com.fanle.req.dish.DishQueryReq">
        select
        <include refid="Base_Column_List"/>
        from dish
        <where>
            <if test="req.id != null">
                id = #{req.id}
            </if>
            <if test="req.restaurantId != null">
                and restaurant_id = #{req.restaurantId}
            </if>
            <if test="req.name != null">
                and `name` = #{req.name}
            </if>
            <if test="req.description != null">
                and description = #{req.description}
            </if>
            <if test="req.category != null">
                and category = #{req.category}
            </if>
            <if test="req.img != null">
                and img = #{req.img}
            </if>
            <if test="req.price != null">
                and price = #{req.price}
            </if>
            <if test="req.available != null">
                and available = #{req.available}
            </if>
        </where>
        <if test="start != null and pageSize != null">
            limit #{start}, #{pageSize}
        </if>
    </select>
    <select id="selectCountByCondition" resultType="java.lang.Integer" parameterType="com.fanle.req.dish.DishQueryReq">
        select count(*) from dish
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="restaurantId != null">
                and restaurant_id = #{restaurantId}
            </if>
            <if test="name != null">
                and `name` = #{name}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
            <if test="category != null">
                and category = #{category}
            </if>
            <if test="img != null">
                and img = #{img}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="available != null">
                and available = #{available}
            </if>
        </where>
    </select>
</mapper>
