<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanle.mapper.RestaurantMapper">

    <resultMap id="BaseResultMap" type="com.fanle.entity.Restaurant">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,address,
        phone
    </sql>

    <select id="selectListByCondition" resultType="com.fanle.entity.Restaurant">
        select <include refid="Base_Column_List"/>
        from restaurant
        <where>
            <if test="req.id != null">
                `id` = #{req.id}
            </if>
            <if test="req.name != null">
                and `name` like concat('%',#{req.name}, '%')
            </if>
            <if test="req.address != null">
                and address like concat('%',#{req.address}, '%')
            </if>
            <if test="req.phone != null">
                and phone like concat('%',#{req.phone}, '%')
            </if>
        </where>
        <if test="start != null and pageSize != null">
            limit #{start}, #{pageSize}
        </if>
    </select>

    <select id="selectCountByCondition" resultType="java.lang.Integer" parameterType="com.fanle.req.rest.RestaurantQueryReq">
        select count(*) from restaurant
        <where>
            <if test="id != null">
                `id` = #{id}
            </if>
            <if test="name != null">
                and `name` like concat('%',#{name}, '%')
            </if>
            <if test="address != null">
                and address like concat('%',#{address}, '%')
            </if>
            <if test="phone != null">
                and phone like concat('%',#{phone}, '%')
            </if>
        </where>
    </select>
</mapper>
