<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanle.mapper.TableMapper">

    <resultMap id="BaseResultMap" type="com.fanle.entity.Table">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tableId" column="table_id" jdbcType="INTEGER"/>
            <result property="restaurantId" column="restaurant_id" jdbcType="INTEGER"/>
            <result property="qrCode" column="qr_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,table_id,restaurant_id,
        qr_code
    </sql>
    <select id="selectListByCondition" resultType="com.fanle.entity.Table">
        select
        <include refid="Base_Column_List"/>
        from `table`
        <where>
            <if test="req.id != null">
                id = #{req.id}
            </if>
            <if test="req.tableId != null">
                and table_id = #{req.tableId}
            </if>
            <if test="req.restaurantId != null">
                and restaurant_id = #{req.restaurantId}
            </if>
            <if test="req.qrCode != null">
                and qr_code = #{req.qrCode}
            </if>
        </where>
        <if test="start != null and pageSize != null">
            limit #{start}, #{pageSize}
        </if>
    </select>
    <select id="selectCountByCondition" resultType="java.lang.Integer" parameterType="com.fanle.req.table.TableQueryReq">
        select count(*) from `table`
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="tableId != null">
                and table_id = #{tableId}
            </if>
            <if test="restaurantId != null">
                and restaurant_id = #{restaurantId}
            </if>
            <if test="qrCode != null">
                and qr_code = #{qrCode}
            </if>
        </where>

    </select>
</mapper>
